<div class="footer">
    <ul class="nav nav-pills pull-right">
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "News", help_path %></li>
      <li><%= link_to "Prayer request", about_path %></li>
    </ul>
</div>